.task-detail {
	text-align: center;
	background-color:white;
	border-radius:3px;
	
	box-shadow: 0 0 3px $mainBlue;
	
	&__link{
		text-align:center;
		width:100%;
		padding:20px;
	}

	&__pull-right {
		@mixin atMedium {
			float:right;
		}
	}
}